/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	cursor: crosshair


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img, object, embed { max-width: 100%; }

html { overflow-y: scroll; }

ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

pre, code, kbd, samp {font-family: monospace, sans-serif;}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 

img { display: block; }


/* style eyez */


a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;

    font-family: 'Source Code Pro', 'apercu-mono-webfont', Courier, monospace; 
	font-size-adjust: 0.5; 
	font-weight: normal; 
	font-style: normal;
}

/*a:hover {
	color: rgba(0, 0, 0, .5);
}*/


body {
	font-family: 'Source Code Pro', 'apercu-mono-webfont', Courier, monospace; 
	font-weight: normal; 
	font-style: normal;
}

/*    font-family: 'apercu-mono-webfont';
    	src: url('font/apercu-mono-webfont.eot');
    	src: url('font/apercu-mono-webfont.eot?#iefix') 
    format('embedded-opentype'),
         url('font/apercu-mono-webfont.woff') format('woff'),
         url('font/apercu-mono-webfont.ttf') format('truetype'),
         url('font/apercu-mono-webfont.svg#apercu-mono-webfont') 
    format('svg');
    	font-weight: normal;
    	font-style: normal;
}*/


canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.content {
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #FFF;
	overflow: auto;
}

/* header */

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120px;

	z-index: 9;

	background-color: white;
}

.bar{
	position: relative;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

#logo{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}

#brandname{
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	font-size: .9em;
	padding-bottom: 2px;
}

#navigation{
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

#navigation li{
	position: relative;
	float: right;
	margin-left: 50px;
	font-size: .9em;
	padding-bottom: 2px;
}

#b{
color: #43C7F4;
	font-family: 'Source Sans Pro', 'apercu-bold', Helvetica, sans-serif;
}
#a{
color: #ED3F6F;
	font-family: 'Source Sans Pro', 'apercu-bold', Helvetica, sans-serif;
}
#creative{
/*color: #6F90B5;
font-size: 1.1em;*/
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #66cef5;
  height: 1.8px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}




/* work */

#projectfooter{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 11;
	background-color: white;
}

#projectwrapper{
	position:relative;
	float: left;
	width: 100%;
	background-color: white;
	padding-bottom: 75px;
	margin-bottom: 60px;

	overflow: auto;
	z-index: 8;
}

#worklink{
	position:relative;
	float: left;
	width: 100%;
	margin-top: 100px;
	background-color: transparent;
	height: 10px;
}

#about{
	position:relative;
	float: left;
	width: 100%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 250px;
}

#statement{
	font-size: 1.1em;
	margin-bottom: 10px;
}
#statement2{
	font-size: 1.1em;
	margin-bottom: 30px;
}
#typed{color: #66cef5;}
#typed2{color: #66cef5;}

#contact{
	position:relative;
	float: left;
	font-size: 1.1em;
	margin-bottom: 30px;
}

#resume{
	position:relative;
	float: left;
	clear: left;
	font-size: 1.1em;
	margin-bottom: 10px;
}

#resumelink{
	position:relative;
	float: left;
	font-size: 1.1em;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: 'Source Sans Pro', 'apercu-bold', Helvetica, sans-serif;
	font-weight: 700;

}

#planefade{
	position:relative;
	float: left;
	background-size: 25px;
	width: 25px;
	height: 30px;
	margin-left: 15px;
	overflow: visible;
}
#paperplane{
	position:relative;
	float: left;
	width: 25px;
	height: 25px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}
#planefade:hover #paperplane{
transform: translate(40px, -40px);
opacity: 0;
}


#work{
	position: relative;
	width: 81%;
	margin-right: 9.5%;
	margin-left: 9.5%;
	height: auto;
	//margin-top: 120px;
	margin-top: 260px;
}


.project{
	width: 48%;
	position: relative;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	background-color: transparent;
}

.project img {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;

}


/*.project a {
	width: 480px;
	height: 200px;
	position: relative;
	float: left;
	background-color: red;

	opacity: 1;
	z-index: 100;
}
.project a:hover {
	color: #000;
}
.project a:hover .projectoverlay {
	opacity: 1; 
}
*/

#work a:hover .projectoverlay {
	opacity: 1; 
	z-index: 10;
}

#work a:hover img{
	opacity: .5; 
}


.projectoverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	background-color: transparent;
	-webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.projecttitle {
	font-size: 18px;
	margin-top: 36px;
	text-align: left;
}

.projectinfo {
	font-size: 14px;
	margin-top: 18px;
	text-align: left;
}

.projectdata {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
}


/* footer */

#footer{
position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	z-index: 7;

	background-color: rgba(0,0,0,.8);
	
	color: rgba(255, 255, 255, .8);
	font-size: .7em;
}

.footerbar{
	position: relative;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

.copyright{
	position: relative;
	float: left;
}

#footer ul{
	position: relative;
	float: right;
	clear: none;
}

#footer li{
	position: relative;
	float: right;
	margin-left: 30px;
	margin-top: -5px;
	width: 20px;
}


/* project page */

#projectpage{
	position: relative;
	float: left;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: auto;
	margin-top: 120px;
}

#projectexpansion{
	position: relative;
	float: right;
	width: 75%;
	margin-top: 15px;
}

.detail{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.detail img{
width: 100%;
}


#cc{
	position: relative;
	width: 81.8%;
	margin-right: 9%;
	margin-left: 9%;
	height: 32vw;
	margin-top: -58%;
	margin-bottom: 100px;
    overflow: scroll;
}

#playweb{
	overflow: hidden;
}

#infosection{
	position: fixed;
	width: 18%;
	margin-right: 2%;
	background-color: white;
	height: 300px;
	opacity: .7;
}

#pdata{
	position: fixed;	
	width: 18%;
	margin-top: 10px;
	margin-right: 2%;
}

.pdeets{
	position: relative;
	float: left;
	width: 100%;	
}

.ptitle{	
	font-size: 1.6em;
	color: black;
	margin-bottom: 10px;
	font-weight: normal;
		line-height: 1.16em;
		word-spacing: -0.15em;

}

.psubtitle{
	font-size: .9em;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
			letter-spacing: .1em;
			font-family: 'Source Sans Pro', 'apercu', Helvetica, sans-serif;

}

.boldbody{
	font-family: 'Source Sans Pro', 'apercu-bold';
	font-weight: 700;
}

.boldbody a{
	font-family: 'Source Sans Pro', 'apercu-bold';
	font-weight: 700;
}

.boldbody a:hover{
color: #43C7F4;
}


.ptype{
	font-size: .7em;
	margin-bottom: 10px;
}
.enchromacolor{
	color: #e1715d;
}
.hmnhcolor{
	color: #269292;
}
.terrafluxcolor{
	/*color: #69ab79;*/
	color: #59617a;
}
.hereandnowcolor{
color: #9b1a1a;
}
.pcontext{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .75em;
	line-height: 1.5em;
	color: black;
	margin-top: 15px;
		font-family: 'Source Sans Pro', 'apercu', Helvetica, sans-serif;


}
.pdescription{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .75em;
	line-height: 1.5em;
	color: black;
	margin-top: 15px;
		font-family: 'Source Sans Pro', 'apercu', Helvetica, sans-serif;


}



/* MEDIA QUERY 1 */


@media (max-width : 1050px) and (min-width: 641px) { 



#about{
	width: 100%;
}

#infosection{
	width: 100%;
	height: 250px;
	position: static;
}

#pdata{
	position: absolute;	
	width: 100%;
	margin-top: 10px;
	margin-right: 2%;
}
.pcontext{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .7em;
	color: black;
	margin-top: 5px;
}
.pdescription{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .7em;
	color: black;
	margin-top: 15px;
}

#projectexpansion{
	position: relative;
	float: right;
	width: 100%;
	margin-top: 250px;
}

#cc{
	height: 42vw;
}



}
/* MEDIA QUERY 1.5 */

@media (max-width : 740px) and (min-width: 640px)  { 

#hmnh1{
padding-top: 60px;
}
#terraflux1{
padding-top: 30px;
}
#hereandnow1{
	padding-top: 30px;
}

}

/* MEDIA QUERY 2 */

@media (max-width : 640px) and (min-width: 0px)  { 

.bar{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#logo{
	width: 75px;
	height: 75px;
}

#navigation li{
	margin-left: 25px;
		font-size: .8em;
}
#brandname{
	margin-top: 15px;
	font-size: .8em;
}

#about{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 200px;

}
#statement{
	font-size: .9em;
}
#statement2{
	font-size: .9em;
}
#contact{
	font-size: .9em;
}
#resume{
	font-size: .9em;
}
#resumelink{
	font-size: .9em;
}
#work{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 140px;
}
.project{
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}
.footerbar{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#footer li{
	margin-left: 10px;
	margin-top: 1px;
}

.copyright{
	position: relative;
	float: left;
	width: 70%;
}


#infosection{
	width: 100%;
	height: 250px;
	position: static;
}

#pdata{
	position: absolute;	
	width: 100%;
	margin-top: 10px;
	margin-right: 2%;
}
.pcontext{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .7em;
	color: black;
	margin-top: 5px;
}
.pdescription{
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	font-size: .7em;
	color: black;
	margin-top: 15px;
}

#projectexpansion{
	position: relative;
	float: right;
	width: 100%;
	margin-top: 300px;
}

#hmnh1{
padding-top: 60px;
}

#cc{
	height: 42vw;
}

.mobilebump{
	display: block;
}


}


@media (max-width : 400px) and (min-width: 0px)  { 

#projectexpansion{
	position: relative;
	float: right;
	width: 100%;
	margin-top: 360px;
}


}


